<footer class="text-center">
  © <%= Date.today.year %> YYC Ruby

  <div class="row sponsor">
    <div class="col-12">
      Hosted and supported by
      <%= link_to image_tag('pixeltree_logo.png',
                            class: 'img-fluid pixeltree_logo'),
                  'http://www.pixeltree.ca/',
                  target: '_blank' %>
    </div>
  </div>
</footer>
