body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  img.nav-bar-logo {
    height: 28px;
    width: 46px;
    margin: 10px 10px 10px 0;
  }

  .twitter-link {
    color: #28b1ef !important;
  }
}

.yycruby {
  .page-heading {
    h1 {
      margin-top: 0;
    }

    h2 {
      margin: 0;
      font-size: 1.3em;
    }
  }

  ul.past-meetups {
    list-style: none;
    padding: 0;
  }

  .btn, .form-control {
    @include border-radius($base-radius)
  }

  form {
    .input-group > span.input-group-addon {
      @include border-radius-top-left($base-radius);
      @include border-radius-bottom-left($base-radius);
      @include border-radius-top-right(0);
      @include border-radius-bottom-right(0);
    }
  }

  .alert {
    z-index: 1200 !important;
  }
}
