body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  border-bottom: 1px solid #e7e7e7;

  img.nav-bar-logo {
    height: 35px;
    width: 46px;
  }

  .twitter-link {
    color: $twitter-blue !important;
  }
}

.alert {
  z-index: 1200 !important;
}

.yycruby {
  .page-heading {
    margin-top: 10px;

    h1 {
      margin-top: 0;
    }

    h2 {
      margin: 0;
      font-size: 1.3em;
    }
  }

  .card {
    margin-bottom: 20px;
  }

  ul.past-meetups {
    list-style: none;
    font-size: smaller;
    padding: 0;
  }

  .btn, .form-control {
    @include border-radius($base-radius);
  }

  .btn {
    text-transform: uppercase;
    float:right;
  }

  form {
    padding: 0;
    label {
    }
    .btn-file {
      position: relative;
      overflow: hidden;
    }
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
    input[readonly] {
      background-color: white !important;
      cursor: text !important;
    }
    .input-group > span.input-group-addon {
      @include border-radius-top-left($base-radius);
      @include border-radius-bottom-left($base-radius);
      @include border-radius-top-right(0);
      @include border-radius-bottom-right(0);
    }
  }
}

footer {
  padding: 50px;
  margin-top: 50px;
  border-top: 1px solid $light-grey;

  .sponsor {
    padding-top: 30px;
    font-size: .5rem;
  }

  .pixeltree_logo {
    padding-left: 20px;
    display: inline-block;
    max-height: 35px;
  }
}
