body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  img.nav-bar-logo {
    height: 28px;
    width: 46px;
    margin: 10px 10px 10px 0;
  }

  .twitter-link {
    color: $twitter-blue !important;
  }
}

.alert {
  z-index: 1200 !important;
}

.yycruby {
  .page-heading {
    h1 {
      margin-top: 0;
    }

    h2 {
      margin: 0;
      font-size: 1.3em;
    }
  }

  ul.past-meetups {
    list-style: none;
    padding: 0;
  }

  .btn, .form-control {
    @include border-radius($base-radius);
  }

  .btn {
    text-transform: uppercase;
    float:right;
  }

  form {
    padding: 0;
    label {
    }
    .btn-file {
      position: relative;
      overflow: hidden;
    }
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
    input[readonly] {
      background-color: white !important;
      cursor: text !important;
    }
    .input-group > span.input-group-addon {
      @include border-radius-top-left($base-radius);
      @include border-radius-bottom-left($base-radius);
      @include border-radius-top-right(0);
      @include border-radius-bottom-right(0);
    }
  }
}
