<div class="card border border-danger">
  <div class="card-header bg-danger text-white">
    Next Meetup
  </div>
  <div class="card-body">
    <% if @next_meetup.present? %>
      <h4><%= @next_meetup.name %></h4>
      <p><%= l convert_to_datetime(@next_meetup.time) %></p>
      <%= @next_meetup.description.html_safe %>
    <% else %>
      <p>No upcoming meetup.</p>
    <% end %>
  </div>
</div>
