<%= render 'layouts/shared/page_header',
           { heading: 'Archive',
             sub_heading: 'A collection of all our past events.' } %>

<div class="row">
  <div class="col-md-6">
    <h2>Past Meetups</h2>
    <%= render 'past_meetups' %>
  </div>

  <div class="col-md-6">
    <%= render 'next_meetup' %>
  </div>
</div>
